# Node modules
node_modules
npm-debug.log

# Git
.git
.gitignore

# Environment files
.env.local
.env.*.local

# Build files
build
dist

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
coverage
.nyc_output

# Documentation
*.md
!README.md
